* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* .header-container button{
    position:relative;
    display:inline-block;
    margin:20px;
  } */
  
  /* .header-container button:hover{
    cursor: pointer;
    padding: .5rem 1.2rem;
    font-size: 18px;
    border: none;
    background-color: #a13d3d;
    border-radius: 1rem;
    -webkit-box-shadow: inset 2px 2px 15px -3px rgba(0,0,0,0.64);
    -moz-box-shadow: inset 2px 2px 15px -3px rgba(0,0,0,0.64);
    box-shadow: inset 2px 2px 15px -3px rgba(0,0,0,0.64);
  } */
  
  .button{
    position:relative;
    display:inline-block;
    /* margin:20px; */
  }
  
  .button a{
    color:black;
    font-size:18px;
    text-align: center;
    text-decoration:none;
    background-color:#cfcfcf;
    display:block;
    position:relative;
    padding:10px 10px;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 rgb(77, 76, 76);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:red;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

